.register {
    display: relative;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    margin: 5em;
    margin-left: 30%;
    margin-right: 30%;
    border: .2px solid black;
    border-radius: 16px;
    padding: 1em;
}

.register h1{
    color: black;
}
.register button{
    background-color: #60BAA0;

}
